{% load staticfiles static i18n %}

<!DOCTYPE html>

{% load bootstrap4 %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
        <script src="https://use.fontawesome.com/b64fee780e.js"></script>

        <title>DiplomaThesis</title>
    </head>

    <body>

    {% include "navbar.html" %}

        <div class="container">
            {% block content %}
                <div class="container">
                    <div class="item">
                                <img src="media/img/student.jpg">
                                <div class="img-fluid">
                                    <p>
                                        Καλώς ορίσατε στο Σύστημα Δήλωσης Πτυχιακών Εργασιών του Χαροκοπείου Πανεπιστημίου. Για να εισέλθετε πατήστε πάνω δεξιά.
                                    </p>
                                </div>
                     </div>
                </div>
            {% endblock %}


        {% block javascript %}

        {% endblock javascript %}
        {% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
        {% block extra_javascript %}{% endblock %}
        </div>
    </body>
</html>

