{% extends 'base.html' %}
{% load staticfiles static i18n %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
{% block content %}

    <div class="jumbotron">
    Η τελική σας ανάθεση θέματος Πτυχιακής Εργασίας.<br>
    </div>


    <p><b>Φοιτητής: </b>{{ object.assigned_to }}</p>
    <p><b>Θέμα Πτυχιακής: </b> {{ object.title }} </p>
    <p><b>Δεύτερο Μέλος Τριμελούς Επιτροπής: </b>{{ object.supervisor_member_1 }}</p>
    <p><b>Τρίτο Μέλος Τριμελούς Επιτροπής: </b>{{ object.supervisor_member_2 }}</p>


{% endblock %}