{% extends 'base.html' %}
{% load staticfiles static i18n %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
{% block content %}

    <div class="jumbotron">
    Έχετε δηλώσει ενδιαφέρον για Πτυχιακή Εργασία.<br>
    Περιμένετε ενημέρωση από τη Γραμματεία του τμήματός σας.
    </div>



`
    <p><b>Φοιτητής: </b>{{ object.student }}</p>
    <p><b>Θέματα: </b>
    <ul>
     {% for t in object.topic.all %}
       <li>{{ t }} </li>
    {% endfor %}
    </ul>


    <p><b>Ημερομηνία: </b>{{ object.timestamp}}</p>


{% endblock %}