{% extends 'base.html' %}
{% load staticfiles static i18n %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% trans "List of Topics" %}{% endblock title %}


{% block content %}


    <table class="table table-sm">

        <thead>
        <th>Πτυχιακές Εργασίες</th>
        {% csrf_token %}
        </thead>
            <tbody>
                {% for t in topic %}
                    <tr><td><a href="/topics/{{ t.id }}">{{ t.title }}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock content %}